
<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p><h4> <%= startingContent %> </h4></p>
    </br>
    </br>
    </br>
    <hr>
  <%  posts.forEach(function(post){ %>

    <h3><%=post.title%></h3>
    <p><h5>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </h5></p>
    </br>
    <hr>

    <% }) %>


<%- include("partials/footer"); -%>
